@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html, body, input, textarea, button, select, a  {
  font-family: 'Open Sans';
  font-size: 16px;
  
}

button {
  border: 0;
  background: none;
  font-weight: 700;
  padding: .5em 1em;
  text-transform: uppercase;
  transition: background-color .25s, color .25s;
}

button:hover {
  background-color: green;
  color: black;
}

main {
  bottom: 0;
  display: flex;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

form {
  flex: 0 0 400px;
}

h1 {
  font-weight: 400;
}

input {
  border: 0;
  border-bottom: 2px solid #CCC;
  box-sizing: border-box;
  display: block;
  margin-bottom: 2em;
  margin-top: 2em;
  outline: 0;
  padding: .25em .5em;
  width: 20rem;
}

input:focus {
  border-bottom-color: green;
}

nav {
  flex: 0 0 370px;
  overflow-y: auto;
  position:relative;

}

nav a {
  color: inherit;
  text-decoration: none;
}

select {
  margin-bottom: 2em;
  width: 100%;
}

td.centered {
  text-align: center;
}

.logout-button-holder {
  border-radius: 0 0 5px 5px;
  opacity: 0.9;
  position: absolute;
  top: 0px;
  right: 20px;
  z-index: 5;
  box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
  
}

.logout-button-holder2 {
  background-color:white;
  opacity: 0.9;
  border-radius: 0 0 5px 5px;
  /* border: 1px solid black; */
  color: white;
  position: absolute;
  top: 0px;
  right: 20px;
  z-index: 5;
  box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
}

#searchbar-holder {
  position: absolute;
  top: 10px;
  right: 250px;
}

.bigger {
  font-size: 2em;
  margin-top: 0;
  margin-left: 0;
}

.centered {
  justify-content: center;
}

.fab {
  align-items: center;
  background-color: green;
  border-radius: 50px;
  top: 50px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  right: 10px;
  height: 50px;
  width: 50px;
  transition: box-shadow 0.5s, transform 0.25s;
  zoom: 1;
}

.fab.is-hidden {
  transform: scale(0);
}

.fab:hover {
  box-shadow: 0 6px 8px rgb(0, 0, 0, 0.3);
}

.fab span {
  transition: transform 0.5s;
}

.fab:active span {
  transform: rotate(360deg);
}

.item-image {
  width: 50px;
  height: auto;
}

.middled {
  align-items: center;
}

.nav-entry {
  align-items: center;
  border-bottom: 1px solid #DFDFDF;
  border-right: 8px solid transparent;
  box-sizing: border-box;
  display: flex;
  padding: 1em;
}

.nav-entry-image {
  background-size: contain;
  border: 4px solid #DFDFDF;
  border-radius: 60px;
  height: 60px;
  margin-right: 15px;
  width: 60px;
}

.new-form-holder {
  display: flex;
  width: 100%;
}

.position-image {
  height: 50px;
  width: auto;
}

.position-detail {
  flex: 1 0 0;
  overflow-y: auto;
}

.position-detail h1 {
  color: white;
  margin: 1em 0 0 0;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.position-detail-image-background {
  background: linear-gradient(315deg, #16d416, rgb(15, 15, 15));
  background-size: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 30px;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.position-detail-image-background2 {
  background: linear-gradient(315deg, red, rgb(15, 15, 15));
  background-size: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 30px;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.position-detail-image {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  transition: height 0.5s;
  background-color: rgb(14, 12, 12);
}

.position-detail-lists {
  padding: 25px;
  margin: 1em;
  z-index: 5;
}
.your-position{
  margin: 25px;
  margin-left: 5rem;
}
.primary-text {
  font-size: 1.3em;
}

.active .nav-entry {
  border-right-color:lightgreen;
  background-color: lightgreen;
}

.secondary-text {
  font-size: 0.8em;
  color: #999;
}


@media screen and (max-width: 1300px) {
  nav, .infogrid__movers, .infoGrid__userNews, .doughtnut {
    display: none;
  }
  .user-detail, .user-data-tables {
    display: inline-table
  }

  .company-titles {
    
    margin-left: 1rem;
}
.header-element {
  display: flex;
  height: 200px;
}

}
@media screen and (min-width: 1000px) {
  .position-detail-lists {
    display: flex;
  }

  .position-detail-lists > * {
    flex: 1 0 0;
  }
}

@media screen and (max-height: 800px) {
  .position-detail-image {
    height: 200px;
    flex: 0 0 200px;
  }



  .position-detail h1 {
    flex: 1 0 0;
    margin-top: 0.25em;
  }
}


.stockApp {
  border: 8px solid blueviolet;
  border-radius: 10px;
  padding: 20px;
}

.marketOverview{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.indices{
  border: 2px solid green;
  height: 100px;
  width: 100px;
  box-sizing: content-box;
}

.stocks{
  /* border: 2px solid red; */
  height: 100px;
  width: 300px;
}

.newsContainer{
  border-bottom: 2px solid grey;
  padding: 6px;
  display: grid;
  grid-template-columns:  30% 70% ;
  grid-template-rows: 60% auto;
  grid-gap: 20px;
  min-height: 250px;
  max-width: 800px;
  position: relative;
}

.moversContainer{
  border-bottom: 2px solid grey;
  padding: 6px;
  display: grid;
  grid-template-columns:  30% 70% ;
  grid-template-rows: 70% 30%;
  grid-gap: 5px;
  max-width: 100%;
  position: relative;
  
}

.newsTitle{
  /* border: 2px solid red; */
  font-weight: bold;
  grid-column: 2/3;
  grid-row: 1/2;
}

.newsSummary{
  padding: 10px;
  overflow: hidden;
  grid-column: 1/3;
  grid-row: 2/3;
  max-height: 150px;
}

.newsImg{
  /* border: 2px solid red; */
  height: 150px;
  width:  150px;
  grid-column: 1/2;
  grid-row: 1/3;
}

.newsLink{
  color: green;
}

.randomizer {
  margin: 20px;
}

.sidebar-label{
  font-weight: 700;
  padding: .5em 1em;
  text-transform: uppercase;
}

.header-element{
  display: grid;
  grid-template-columns:  30% 70% ;
  height: 200px;
  
}
.company-logo{
  grid-column: 1/2;
  padding-top: 25px;
  padding-bottom: 25px;
}
.company-titles{
  grid-column: 2/2;
  margin-left: 10rem;
  
}

.user-detail-chart{
  max-width: 700px;
  grid-column: 1/2;
  grid-row: 1/2;
}

.tables {
  min-width: 100%;
}

.user-detail{
  padding: 6px;
  display: grid;
  grid-template-columns:  70% 30% ;
  grid-template-rows:  0.15fr 1fr;
  grid-gap: 20px;
  max-width: 100%;
  position: relative;
  
}

.doughnut {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
 justify-content: center;
 align-items: center;
 
}

.user-data-tables{
  grid-column: 1/2;
  grid-row: 2/3;
  margin: 10px;
}

.infogrid__movers {
  grid-column: 2/3;
  grid-row: 2/4;
}

.infogrid__userNews{
  grid-column: 1/2;
  grid-row: 3/4;
  padding-top: 25px;
  padding-bottom: 25px;
}

.green {
  color: green;
  margin: 20px;
  font-weight: bold;
}

.red{
  color: red;
  margin: 20px;
  font-weight: bold;
}

.purple {
  color: darkslateblue;
  margin: 20px;
  font-weight: bold;
}

.newsFeed{
  margin: 3em;

}

.stock-information{
  
  margin-bottom: 1em;
}

.search-input{
  width: 90%;
}

.close-search {
  position: absolute;
  left: 300px;
  
}
.search-bar{
  width: 100%;
}

.button-container{
  display: flex;
    justify-content: center;
}

.stock-chart {
  margin: 10px;
  
}

.exit-position {
  padding-top: 20px;
}

.fade-out {
  animation: fadeOut ease 8s;
  -webkit-animation: fadeOut ease 8s;
  -moz-animation: fadeOut ease 8s;
  -o-animation: fadeOut ease 8s;
  -ms-animation: fadeOut ease 8s;
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
}
}

.losersandwinners{
  border: lightslategray solid 1px;
  border-radius: 5px;
  margin: 10px;
  margin-bottom: 20px;
  padding: 5px;
  width: 300px;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.75);
}

.buy-more{
  margin-top: 20px;
}

.leaf-rotate{
  -webkit-animation: rotate-vert-center 20s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: rotate-vert-center 20s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-2-13 6:48:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-vert-center
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

.userHeader{
  margin: 10px;
}

.navlinks {
  color: green;
}

.navlinks-red {
  color: red;
}

.table {
  width: 105%;
}

.icon-progress {
  
  z-index: -4;
  /* opacity: 0.4; */
  
  -webkit-animation: rotate-vert-center 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: rotate-vert-center 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
  
}

/* ----------------------------------------------
 * Generated by Animista on 2021-2-20 14:42:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
